Programming Assessment for Telephone Interview

Design a deck of playing cards, include the basic feature ‘shuffle’.
Using Java, C++, C# or Javascript, provide the classes with tests in one or more text files.
The code you provide must include test cases and exception handling, along with being runnable.

Note: This exercise should take about 1hr to complete.